/* COMPOSANT : NavBar App */
@import url('../css/modules/navbar-app.css');

/* COMPOSANT : Hero */
@import url('../css/modules/hero.css');

/* COMPOSANT : Search Bar  */
@import url('../css/modules/searchbar-app.css');

/* COMPOSANT : Cards Overall */
@import url('../css/modules/overall-cards.css');

/* COMPOSANT : Lodges Cards */
@import url('../css/modules/lodge-cards.css');

/* COMPOSANT : Activities Cards */
@import url('../css/modules/activities-cards.css');

/* COMPOSANT : Footer */
@import url('../css/modules/footer-app.css');

/* COMPOSANT : TITLE Section */
@import url('../css/modules/title-section.css');

/* COMPOSANT : TITLES Card / Item / Activities */
@import url('../css/modules/title-card.css');

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --debeug:tomato;

    --white:#FFF;
    --black:#000;

    --main-font:Raleway, sans-serif;

    --body-font:var(--main-font);
    --body-font-size:1rem;
    --body-font-weight:400;
    --body-line-height:1.18;

    --title-font:var(--main-font);
    --title-font-size:1rem;
    --title-font-weight:600;
    --title-line-height:1.18;

    --title-section-font:var(--main-font);
    --title-section-font-size:1.375rem;
    --title-section-font-weight:600;
    --title-section-line-height:1.3;

    --section-radius:15px;
    --padding-common:1.15rem;
    --regTransition:all .25s ease-in-out;
}


/* RESETS / GENERALS */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    background:var(--white);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    scroll-behavior: smooth;
}

input,
textarea,
select,
option,
button {
    font:inherit;
}

img,
video,
canvas,
svg {
    display: block;
    max-width: 100%;;
}

a {
    color: inherit;
    text-decoration: none;
}


.debeug {
    outline:2px dashed var(--debeug);
}


/* LAYOUT */
.main-container {
    display:block;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.block-data {
    padding:var(--padding-common);
    background:var(--main-bg-color);     
    border-radius: var(--section-radius);
}

.lodges-layout{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    row-gap: 4rem;
}


/* Hebergements */
#hebergements {
    --gap:2rem;
    width:66%;
}

.hebergements_geoloc {
    margin-inline:5px auto;
}

/* Populaires */
#populaires {
    --gap:2rem;
}

#activities {
    padding:var(--padding-common);
}






/****** Hebergements And Populaires ***********/


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}




.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    width: 360px;
    margin-top: 33px;
}

.populaires-cards img {
    width: 120px;
    height: 136px;
    border-top-left-radius: calc( (-1) * var(--paddingCard) + var(--card-radius));
    border-bottom-left-radius: calc( (-1) * var(--paddingCard) + var(--card-radius));
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    
}

.populaires-cards > a {
    display: inline-block;

}
.populaires-cards .card-content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;

}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* FontAwesome Quick Fix */
.fa-solid {
    color: var(--main-color);
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}

.fa-solid.fa-location-dot {
    color:var(--black);
    font-size:1.25rem;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}