/* COMPOSANT : NavBar App */
@import url('../css/modules/navbar-app.css');

/* COMPOSANT : Hero */
@import url('../css/modules/hero.css');

/* COMPOSANT : Search Bar  */
@import url('../css/modules/searchbar-app.css');

/* COMPOSANT : Filters */
@import url('../css/modules/filters.css');

/* COMPOSANT : Cards Overall */
@import url('../css/modules/overall-cards.css');

/* COMPOSANT : Lodges Cards */
@import url('../css/modules/lodge-cards.css');

/* COMPOSANT : Populaires Cards */
@import url('../css/modules/popular-cards.css');

/* COMPOSANT : Activities Cards */
@import url('../css/modules/activities-cards.css');

/* COMPOSANT : Footer */
@import url('../css/modules/footer-app.css');

/* COMPOSANT : TITLE Section */
@import url('../css/modules/title-section.css');

/* COMPOSANT : TITLES Card / Item / Activities */
@import url('../css/modules/title-card.css');

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --debeug:tomato;

    --white:#FFF;
    --black:#000;

    --main-font:Raleway, sans-serif;

    --body-font:var(--main-font);
    --body-font-size:1rem;
    --body-font-weight:400;
    --body-line-height:1.18;

    --title-font:var(--main-font);
    --title-font-size:1rem;
    --title-font-weight:600;
    --title-line-height:1.18;

    --title-section-font:var(--main-font);
    --title-section-font-size:1.375rem;
    --title-section-font-weight:600;
    --title-section-line-height:1.3;

    --section-radius:15px;
    --padding-common:1.25rem;
    --header-spacing:1.5rem;
    --regTransition:all .25s ease-in-out;
}


/* RESETS / GENERALS */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    --body-padding:50px;
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    background:var(--white);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth
}

input,
textarea,
select,
option,
button {
    font:inherit;
}

img,
video,
canvas,
svg {
    display: block;
    max-width: 100%;;
}

a {
    color: inherit;
    text-decoration: none;
}


.debeug {
    outline:2px dashed var(--debeug);
}


/* LAYOUT */
.main-container {
    display:block;
    width: 100%;
    max-width: 1440px;
    padding: 0 var(--body-padding);
}

.block-data {
    padding:var(--padding-common);
    background:var(--main-bg-color);     
    border-radius: var(--section-radius);
}

.lodges-layout{
    --gap:2rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    row-gap: var(--gap);
    margin-top: 2rem;
}

.search-composant {
    --input-height: 50px;
    display: flex;
    flex-direction: column;
    row-gap: var(--header-spacing);
} 

.load-more {
    display: inline-block;
    color:var(--black);
    font-family: var(--title-font);
    font-size:var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
}

/* Hebergements */
#hebergements {
    --gap:1.45rem;
    width:66%;
}

.hebergements_geoloc {
    margin-inline:5px auto;
}

/* Populaires */
#populaires {
    --gap:2rem;
}

#activities {
    padding:var(--padding-common);
}



.attribution {
    position: fixed;
    bottom: 100%;
    left: 0;
    padding: 1rem;
    width: 100%;
    background: white;
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-size: 1.2rem;
    transition: var(--regTransition);
}

.hidden {
    --op:0;
    opacity: var(--op);
    visibility: hidden;
    bottom: 0;
}

.attribution > a {
        color:var(--debeug);
}

#assistance:hover + .attribution.hidden {
    --op:1;
    visibility: visible;
}


/* FontAwesome Quick Fix */
.fa-solid {
    color: var(--main-color);
    transition: var(--regTransition);
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
.fa-solid.fa-location-dot {
    color:var(--black);
    font-size:1.25rem;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media all and (max-width: 1024px) {

   
    .populaires-cards {
        
    }

   
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
    
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {

    }
}


/* Media Queries Intervall to clean up all "weird Large screen Size" */
@media all and (max-width:1200px) {

    .lodges-layout {
        --gap:2.5rem;
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    #populaires {
        /* --padding-common: 1.5rem; */
    }

    .lodges-cards{
        justify-content: space-between;
    }

    .card-subtitle {
        font-size:0.875rem;
    }

     /* Specific responsive CARD  */
    .populaires-cards {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    /* Specific responsive CARD  */
    .populaires-cards .card {
        width:270px ;
        margin-top: 0;
    }

     /* Specific responsive CARD  */
    .activities-cards .card {
        height: 270px;
      }

    .search-filters {
        flex-direction: column;
        align-items: start
    }

    .search-filters-list {
        margin-top:1rem;
    }

    .search-link{
        font-size:1rem;
      }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        --header-spacing: 2rem;
    }

    .main-container {
        --body-padding:0;
    }

   .logo {
        width:120px;
    }

    .navbar-app {
        flex-direction: column;
        gap: 2rem; 
        padding-inline:var(--body-padding);

    }

    .main-nav {
        width: 100%;
        justify-content: center;
        column-gap: 0;
    }

    .navbar-link {
        width: 50%;
        text-align: center;
        border-bottom-color: var(--main-bg-color);
    }

    .navbar-link.active {
        border-top-color:transparent;
        border-bottom-color: currentColor;
    }


    .hero {
        --body-padding:20px;
        padding-inline: var(--body-padding);
    }

    .hero-title {
        width:85%;
    }

    .search-composant {
        --body-padding:25px;
        padding-inline: var(--body-padding);
    }

    .search-filters-list {
        justify-content: space-between;
    }

    .search-link {
        width:180px;
    }
   
    #search-entry{
        width:100%;
    }

    #search-validate {
        --op:.33;
        width: 50px; 
        position: relative; 
        transform: translateX(-8px);
        color: transparent;
        filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, var(--op)));
        border-radius: 15px;
    }


        #search-validate::after{
            content: "\f002";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: var(--fa-style-family-classic);
            font-size:18px;
            color:var(--white);
        }


        .search-baseline{
            display: flex;
        }

        #populaires {
            order:1;
        }

        #hebergements {
            order:2;
            background: var(--white);
        }

        #activities {
            order:3;
        }

        .populaires-cards {
            --gap:1rem;
        }

        .populaires-cards a,
        .populaires-cards .card {
            width:100%;
        }

        .populaires-cards .card-title {
            font-size: 1rem;
        }

        .lodges-layout {
            --gap: 1.5rem;
        }

        .lodges-cards {
            flex-direction: column;
        }

        .lodges-cards .card {
            width:100%;
        }

        .lodges-cards .card-thumbnail {
            flex-grow: 1;
            overflow: hidden;
            max-height: 145px;
        }

        .activities-cards {
            row-gap:1.5rem;
        }

        .activities-cards .card {
            max-height: 230px;
        }

        .activities-cards > a {
            width:100%;
        }

        .activities-cards .card-title {
            margin-block:1rem;
        }

        .main-footer {
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding-top:1.75rem;
        }

        .footer-nav {
            width: fit-content;
        }


}