.activities-cards {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.activities-cards .card {
    --paddingCard: 0;
    width: 22%;
    height:440px;
}

.activities-cards .card-thumbnail {
    height: 85%;
}
