/* Layout List */
.activities-card {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.card-column {

}

.activities-card img {
    --sizes: 10rem;
    width: var(--sizes);
    height: var(--sizes);
}
