.main-footer {
    --section-radius:0;
    display: flex;
    justify-content: space-between;
    margin-top:1.5rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    width: 33%;
    row-gap: 1.15rem;
} 