.navbar-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--padding-common);
}

.navbar-link {
    display: inline-block;
    padding: .75rem 0;
    border-block:2px solid transparent;
    transition:var(--regTransition);
    
}


.navbar-link:hover,
.navbar-link:focus,
.navbar-link.active {
    color:var(--main-color);
    border-top-color: currentColor;
}

.main-nav {
    display: flex;
    align-items: center;
    column-gap: calc( 2 * var(--padding-common));
}



